.box {
	position: sticky;
	bottom: 0;
	right: 0;
	width: 100%;
	@include flexCenter(column);
	row-gap: 1rem;
	padding: 40px 10px;
	background-color: $color-white;
}

.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-weight: 700;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid $color-light-grey;
}
