$btn-size: 60px;

.headerLink {
	background-color: #e3f4e8;
	width: $btn-size;
	height: $btn-size;
	@include flexCenter();
	border-radius: $border-radius;
}

.headerCard {
	border-radius: $border-radius;
	width: 124px;
	height: 60px;
	@include flexCenter();
	background-color: $color-green;
	margin-left: auto;
}

.navigation {
	@include flexCenter();
	gap: 20px;
}
