.ribbonBox {
	position: absolute;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	top: 6px;
	right: -20px;
}

.ribbon {
	position: relative;
	padding: 2px 12px;
	box-shadow: 1px 1px 3px $color-black;
	color: $color-white;
	font-size: $small-font-size;
	backdrop-filter: blur(1px);
}

.ribbon:after {
	content: '';
	position: absolute;
	top: 104%;
	right: 0;
	width: 0;
	height: 0;
	line-height: 0;
	border-right: 20px solid transparent;
	border-top: 10px solid $color-grey;
}

.sale {
	background: rgba($sale-color, 0.7);
}

.hits {
	background: rgba($color-hits, 0.7);
}

.newItems {
	background: rgba($color-green, 0.7);
}

.stock {
	background: rgba($stock-color, 0.7);
}
