$pd: 4px;

.filter {
	position: relative;
	padding: $pd;
}

.form {
	position: sticky;
	top: 0;
}

.fieldset {
	margin: 12px 0;
	padding: 0;
}

.legend {
	font-weight: 600;
	padding: 10px $pd;
}

.title {
	margin: 0;
}

.label {
	position: relative;
	border-radius: $border-radius;
	font-size: $small-font-size;
	color: $color-black;
	padding: 2px calc($pd * 2);
	margin: $pd 0;
	background: rgba($color-light, 0.2);
	border: 1px solid transparent;
	max-width: max-content;
	cursor: pointer;

	&:hover {
		border: 1px solid $color-light;
	}

	&:has(input:checked) {
		background: $color-light;
		border: 1px solid $color-green;
	}
}

.double {
	display: grid;
	grid-template-columns: repeat(2, auto);
}

.rating {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2px;

	& label {
		display: flex;
		align-items: flex-start;
		gap: 2px;
		padding: calc($pd * 2);
	}
}
