.page {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.header {
	height: 80px;
	background: $color-light;
}

.title {
	padding: 20px 0;
}

.breadCrumbs {
	& .breadCrumbsList {
		display: flex;
	}
}

.form {
	display: grid;
	grid-template-columns: 400px 1fr;
	gap: 20px;
}

.right {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.bestOffers {
	display: flex;
	flex-direction: column;
}
